.navigation-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #FED5E4; 
    padding: 0.5rem 1rem; 
}

.navigation-menu {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: min-content;
}

.navigation-item {
     margin: 0 1rem; 
    font-size: 1rem; 
    font-weight: bold;
}

.navigation-item a {
    text-decoration: none; 
    color: #333; 
    transition: color 0.3s ease-in-out;
}

.navigation-item a:hover {
    color:#F95994;
    border-bottom: 2px solid #F95994; 
    padding-bottom: 0.2rem;
}

.hamburguer-menu-button {
    display: none;
}

@media screen and (max-width: 667px) {
    .navigation-container {
        padding: 5px 5px;
    }

    .navigation-menu {
        display: none;
        top: 0;
        height: 100dvh;
        width: 100%;
        background-color: #333;
        left: -100%;
        opacity: 0.4;
        transition: all 0.5s ease-in-out;
    }
    
    .navigation-menu.show {
        display: flex;
        flex-flow: column nowrap;
        flex-wrap: wrap;
        z-index: 1;
        position: absolute;
        overflow: hidden;
        gap: 2rem;
        opacity: 0.8;
        transform: translateX(100%);
    }

    /* Adicione isso ao seu arquivo CSS */
    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #fff;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .navigation-item a {
        color: #fff;
    }

    .hamburguer-menu-button {
        display: block;
        width: min-content;
    }
    .hamburguer-menu-button:hover {
        cursor: pointer;
        color: #F95994;
    }
}